<% content_for :sidebar do %>
    <%- if @root_page.published_children_for_nav.length > 0 %>
    <h2><%= @root_page %></h2>
    <%- end %>
    <%= render_list_nav @root_page %>
<% end %>
<%= render 'public/shared/page_body' %>
